<li>
  <%= gravatar_for user, size: Settings.size_img %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.edit.del"), user, method: :delete, data: { confirm: t("question_before_del_user") } %>
  <% end %>
</li>
